{% extends 'nav.html' %}
{% block titulo %}Tips{% endblock titulo %}
{% block content %}
{% load static %}
<!-- Header-->
<header class="bg-gradient text-white" style="background-color: #209E95; padding-top: 60px; padding-bottom: 60px;">
    <div class="container px-lg-5 text-center">
        <img src="{% static 'img/Logo_GG.png' %}" height="100" alt="...">
        <h1 class="fw-bolder" style="color: white;">Tips</h1>      
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for tip in tip %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Hoy</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ tip.imagen.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ tip.titulo }}</h5>                            
                            <!-- Product price-->
                            Publicado por: {{tip.usuario}}
                             <!-- Product category-->
                             Categoría: {{tip.categoria}}
                        </div>
                    </div>
                    <!-- Product actions--> 
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        {% if not user.is_authenticated %}
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'account_login' %}">Leer tip</a></div> <br>                        
                        {% elif user.id == tip.usuario_id %}
                            <div class="text-center" style="margin-bottom: 10px;"><a class="btn btn-outline-success mt-auto" href="#">Editar</a></div>
                            <div class="text-center" style="margin-bottom: 10px;"><a class="btn btn-outline-danger mt-auto" href="#">Eliminar</a></div>
                        {% else %}
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'publication_tips' tip.id %}">Leer tip</a></div> <br>
                        {% endif %}                                               
                    </div>
                </div>
            </div>
            {% endfor %}            
        </div>
    </div>
</section>
<section class="py-5">
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">                            
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'create_tips'%}"> Crea tu Tip </a></div>                                              
    </div>
</section>

{% endblock content %}